{% extends 'base.html' %}
{% block title %}Todo Application-Django{% endblock title %}
{% block content %}
<main id="todolist">
  <h1>
    Todo List
    <span>Get things done, one item at a time.</span>
  </h1>
{% for reminder in Description %}

<form action="delete">
  <div class="form-row">
    <div class="col-7">
      <input type="text" editable="false" value= "{{reminder.remind}}" class="form-control" placeholder="City">
    </div>
    <div class="col">
      <button type="submit">Delete</button>
    </div>
    
  </div>
</form>
  {% endfor %}
  

  <form method="post" name="newform" v-on:submit.prevent="addItem" actions="/addReminder/">
  {% csrf_token %}
    <label for="newitem">Add to the todo list</label>
    <input type="text" name="newitem" id="newitem" v-model="newitem">
    <button type="submit">Add item</button>
  </form>
</main>
{% endblock content %}